<?xml version="1.0" encoding="utf-8" ?>
<config>
  <service>
    <guiserviceendpoint url="http://localhost:9919" />
    <transportserviceendpoint url="http://localhost:9988/aicservice" user="insystems" password="insystems" loglevel="trace"/>
    <notificationserviceendpoint url="http://localhost:8899/messervice" user="insystems" password="insystems" loglevel="trace"/>
    <dataprocessingsystem url="http://192.168.0.19/cdps"/>
  </service>
  <general loglevel="trace" startmode="manual" fineposdistance="0.25" idledelay="10" commandtimeout="10" movetimeout="60">
    <transport ValidateSourceState="true" ValidateTargetState="true" AllowEmptyTarget="true" ScheduleStrategy="Firstpossible" EnablePriority="true" />
  </general>
  <charging>
    <request soc="0" mincellvoltage="2.55" idlesoc="40" />
  </charging>
  <alarm behaviour="GotoGoalAndStop" enable="true">
    <alarmgoals>
      <goal name="Port_UG" />
    </alarmgoals>
  </alarm>
  <gotogoal>
    <anglecorrection enable="false" delay="2" maxangle="5" turnspeed="1.5" />
    <positionvalidation validateorientation="true" 
                        maxangle="15"
                        maxDistance="0.4"
                        reservationdistance="0.4" />
  </gotogoal>
  <dataprovider type="sqlite" connection="data source=data.sqltdb" />
  <mapprovider type="incubedfms" url="http://localhost:8888">
    <backgroundimage image="$bindir$\Hallenplan2.jpg" x="0" y="15" scalex="1.0" scaley="1.0" rotation="0"/>
    <typemapping>
      <!--<maptype goaltype="parking" value="idle" />-->
      <maptype goaltype="parking" goal="PARK1" />
      <maptype goaltype="parking" goal="PARK2" />
      <maptype goaltype="parking" goal="PARK3" />
    </typemapping>
    <goalassociation>      
    </goalassociation>

    <levels>
      <!-- EG -->
      <level name="Floor EG" area="EG" />        
      <level name="P12 EG" area="EG_P12" />      
      <level name="Single Station" area="Single_Station" maxleveloccupation="100" maxagvcount="1" />      
      <!-- UG -->
      <level name="Single parking UG" area="Single_Park3" maxleveloccupation="100" maxagvcount="1" />
      <level name="Floor UG">
        <areas>
          <area name="LiftArea_UG" />
          <area name="ParkArea_UG" />
        </areas>
      </level>
      <level name="Production UG" area="ProdArea_UG"/>
    </levels>

  </mapprovider>

  <zones>
    <zone name="Single_Park3" type="robotlimitation" checkreservedgoals="false">
      <mainzone area="Single_Park3" />		  
      <prezones>
        <prezone area="Single_Park3_Pre" onenter="stop" />			  
      </prezones>
    </zone>
  </zones>

  <agvs MaintenanceTrigger="5">
    <agv name="robot_10048" alias="FTF 10048" model="2" isloadedsource="core">
      <core type="IncubedFms" url="http://localhost:8888" loglevel="debug" />
      <plc>
        <iomodule type="beckhoff" ip="localhost" amsnetid="192.168.100.1.1.1" amsport="48890" addroute="false" memory="agvplc" />
      </plc>
      <loopconfig disabled="false">
        <loopelement type="goto" goal="Loop_EG" />
        <loopelement type="goto" goal="Loop_UG" />
      </loopconfig>      
    </agv>
    
    <agv name="robot_10049" alias="FTF 10049" model="2" disabled="false" isloadedsource="core">
      <core type="IncubedFms" url="http://localhost:8888" loglevel="debug" />
      <plc>
        <iomodule type="beckhoff" ip="localhost" amsnetid="192.168.100.1.1.1" amsport="48891" addroute="false" memory="agvplc" />
      </plc>
      <loopconfig disabled="false">
      </loopconfig>      
    </agv>

    <agv name="robot_10050" alias="FTF 10050" model="2" disabled="false" isloadedsource="core">
      <core type="IncubedFms" url="http://localhost:8888" loglevel="debug" />
      <plc>
        <iomodule type="modbus" ip="localhost" memory="agvplcwago" port="512"/>
        <startcharging>
          <iofunction type="setvariable" name="controlbits.chargerequest" value="true" />
        </startcharging>
        <stopcharging>
          <iofunction type="setvariable" name="controlbits.chargerequest" value="false" />
        </stopcharging>
      </plc>
    </agv>  
  </agvs>  
  
  <levelconnectors>
     
    <levelconnector name="Enter parking UG" type="agvlimit" targetlevel="Single parking UG">
      <connections>
        <connection level="Single parking UG" requestgoal="Request_ParkArea_UG" />
        <connection level="Floor UG" requestgoal="Request_Single_Park3" />
      </connections>
    </levelconnector>

    <levelconnector name="Enter Single Station EG" type="agvlimit"  targetlevel="Single Station" maxleveloccupation="100" maxagvcount="1">
      <connections>
        <connection level="Single Station" requestgoal="Request_EG" />
        <connection level="Floor EG" requestgoal="Request_Single_Station1" />
      </connections>
    </levelconnector>

    <levelconnector name="Enter Single Station P12" type="agvlimit"  targetlevel="Single Station" maxleveloccupation="100" maxagvcount="1">
      <connections>
        <connection level="Single Station" requestgoal="Request_P12" />
        <connection level="P12 EG" requestgoal="Request_Single_Station2" />
      </connections>
    </levelconnector>

    <levelconnector name="Elevator 1" type="elevator" loglevel="trace">
      <iomodule name="Lift plc" memory="Lift" loglevel="debug" resetruntime="2000" type="modbus" ip="localhost" port="503">
      </iomodule>   
      <connections>
        <connection index="1" level="Floor UG" requestgoal="Lift_wait_UG" innergoal="Lift_inner_UG" exitgoal="Lift_exit_UG" innerarea="Lift_UG" />
        <connection index="2" level="Floor EG" requestgoal="Lift_wait_EG" innergoal="Lift_inner_EG" exitgoal="Lift_exit_EG" innerarea="Lift_EG" />
      </connections>
    </levelconnector>
    
    <levelconnector name="Door 1" type="automaticdoor" iomodulename="Door plc" loglevel="trace" innerarea="DoorArea" closedoordelay="5000">
      <doorisopen type="Trigger" name="Status.DoorIsOpen" value="true" />
      <opendoor>
        <iofunction type="setvariable" name="Control.OpenDoor" value="true" />
      </opendoor>
      <reset>
        <iofunction type="setvariable" name="Control.OpenDoor" value="false" />
      </reset>
      <connections>
        <connection level="Floor UG" requestgoal="OpenDoor_LiftSide" exitgoal=""/>
        <connection level="Production UG" requestgoal="OpenDoor_ProdSide" exitgoal="" /> 
      </connections>
    </levelconnector>

  </levelconnectors>

  <!-- global io functions -->
  <iofunctions>                  
  </iofunctions>

  <loadports>
    <loadport name="Station_EG_Get" goal="Quelle_EG" iomodule="Machine EG" loglevel="debug">
      <readytounload>
        <trigger name="Allg.QuelleAbgabebereit" value="true">
        </trigger>
      </readytounload>
    </loadport>
    
    <loadport name="Station_EG_Put" goal="Senke_EG" iomodule="Machine EG" loglevel="debug">
      <readytoload>
        <trigger name="Allg.SenkeAufnahmebereit" value="true" />
      </readytoload>
    </loadport>

    <loadport name="Station_UG_Get" goal="Quelle_UG" iomodule="Machine UG" PrioSource="1">
      <readytounload>
        <trigger name="Allg.QuelleAbgabebereit" value="true">
        </trigger>
      </readytounload>
    </loadport>
    <loadport name="Station_UG_Get2" goal="Quelle_UG2" iomodule="Machine UG" PrioSource="2">
      <readytounload>
        <trigger name="Allg.QuelleAbgabebereit2" value="true">
        </trigger>
      </readytounload>
    </loadport>

    <loadport name="Station_UG_Put" goal="Senke_UG" iomodule="Machine UG">
      <readytoload>
        <trigger name="Allg.SenkeAufnahmebereit" value="true" />
      </readytoload>      
    </loadport>
  </loadports>
  
  <iomodules>
    <iomodule name="Door plc" memory="Door" loglevel="debug" resetruntime="2000" type="modbus" ip="localhost" port="504" />   

    <iomodule name="Machine EG" memory="Machine" loglevel="debug" resetruntime="2000" type="beckhoff" ip="localhost" amsport="48899" addroute="false">
      <iofunctions>
        <iofunction type="setvariable" name="allg.Lebensbit" value="@allg.Lebensbit" invert="false" />
        
        <iofunction type="multitrigger">
          <triggers>
            <iofunction type="trigger" name="allg.QuelleAbgabebereit" value="true" />
            <iofunction type="TransportStateTrigger" source="Quelle_EG" target="" min="" invert="true" />
          </triggers>
          <iofunctions>
            <iofunction type="starttask" task="GotoAndRunInstructions" goal="Quelle_EG" robot="" GotoGoalOnly="true" />
          </iofunctions>
        </iofunction>
        
      </iofunctions>
    </iomodule>   
    
    <iomodule name="Machine UG" memory="Machine" loglevel="debug" resetruntime="2000" type="beckhoff" ip="localhost" amsport="48898" addroute="false">
      <iofunctions>
        <iofunction type="setvariable" name="allg.Lebensbit" value="@allg.Lebensbit" invert="false" />
        <iofunction type="trigger" name="allg.resetalarm" value="true">
          <function type="setalarm" active="false" />
        </iofunction>
      </iofunctions>
    </iomodule>    
  </iomodules>
  
  <goalinstructions>
    <instructionsets>
               
      <instructionset name="Unload_to_empty_shelf">
        <instructions>
          <instruction id="1" name="Check loaded status" type="plccommand" waitinput="conveyorstatus" inputvalue="readytounload" timeout="20">
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="1">
              <instructions>
                <instruction type="plccommand" output="conveyorcommand" outputvalue="ResetConveyor" waitinput="conveyorstatus" inputvalue="readytounload" timeout="20" onfailed="StopAndSetError" errorcode="11" />
              </instructions>
            </errorhandling>
          </instruction>
          <instruction id="2" name="Goto goal" type="gotogoal" />
          <instruction id="3" name="Finepositioning" type="finepos" distance="0,30">
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
              <instructions>
                <instruction id="" type="dash" distance="-0,4" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />
              </instructions>
            </errorhandling>
          </instruction>

          <!-- unten entladen -->
          <instruction id="10" name="Unload box 1" type="unload" 
                       checkstart="readytounload" start="startunloading" done="unloadingfinished" checkdone="readytoload" 
                       failed="targetoccupied;unloadingfailed" timeout="60" ondone="GotoInstruction" gotoid="100">
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="0" />
              <iofunction type="setvariable" name="hubhoehe_transfer" value="480" />
              <iofunction type="setvariable" name="hubdelta" value="0" />
            </iofunctions>
            <errorhandlings>
              <errorhandling instructionresult="targetoccupied" ondone="GotoInstruction" gotoid="20" resetagverror="true">
                <instructions>
                  <instruction name="no operation" type="runio" timeout="0"/>
                </instructions>
              </errorhandling>
              <errorhandling instructionresult="unloadingfailed" ondone="StopAndSetError" errorcode="21">
                <instructions>
                  <instruction name="no operation" type="runio" timeout="0"/>
                </instructions>
              </errorhandling>
            </errorhandlings>
          </instruction>
          <!-- mitte entladen -->
          <instruction id="20" name="Unload box 2" type="unload" 
                       checkstart="targetoccupied;readytounload" start="startunloading" done="unloadingfinished" checkdone="readytoload" 
                       failed="targetoccupied;unloadingfailed" timeout="60"  ondone="GotoInstruction" gotoid="100">
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="0" />
              <iofunction type="setvariable" name="hubhoehe_transfer" value="780" />
              <iofunction type="setvariable" name="hubdelta" value="0" />
            </iofunctions>
            <errorhandlings>
              <errorhandling instructionresult="targetoccupied" ondone="GotoInstruction" gotoid="30" resetagverror="true">
                <instructions>
                  <instruction name="no operation" type="runio" timeout="0"/>
                </instructions>
              </errorhandling>
              <errorhandling instructionresult="unloadingfailed" ondone="StopAndSetError" errorcode="21">
                <instructions>
                  <instruction name="no operation" type="runio" timeout="0"/>
                </instructions>
              </errorhandling>
            </errorhandlings>
          </instruction>
          <!-- oben entladen -->
          <instruction id="30" name="Unload box 3" type="unload" 
                       checkstart="targetoccupied;readytounload" start="startunloading" done="unloadingfinished" checkdone="readytoload" 
                       failed="targetoccupied;unloadingfailed" timeout="60"  ondone="GotoInstruction" gotoid="100">
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="0" />
              <iofunction type="setvariable" name="hubhoehe_transfer" value="1080" />
              <iofunction type="setvariable" name="hubdelta" value="0" />
            </iofunctions>
            <errorhandlings>
              <errorhandling instructionresult="targetoccupied" ondone="GotoInstruction" gotoid="99" resetagverror="true">
                <instructions>
                  <instruction name="no operation" type="runio" timeout="0"/>
                </instructions>
              </errorhandling>
              <errorhandling instructionresult="unloadingfailed" ondone="StopAndSetError" errorcode="21">
                <instructions>
                  <instruction name="no operation" type="runio" timeout="0"/>
                </instructions>
              </errorhandling>
            </errorhandlings>
          </instruction>
          
          <!-- fehler alle regale voll -->
          <instruction id="99" name="no empty shelf" type="runio" timeout="0" ondone="StopAndSetError" errorcode="815" />
          <!-- ende -->
          <instruction id="100" name="finished" type="runio" timeout="0" />
        </instructions>

        <associatedgoals goaltype="put">
    	    <goal name="Senke_UG" />
        </associatedgoals>
      </instructionset>
      
      <instructionset name="ScanAndLoad">
        <instructions>          
          <instruction id="1" name="Check unloaded status" type="plccommand" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20">
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="1">
              <instructions>
                <instruction type="plccommand" output="conveyorcommand" outputvalue="ResetConveyor" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20" onfailed="StopAndSetError" errorcode="11"/>
              </instructions>
            </errorhandling>
          </instruction>
          <instruction id="2" name="Goto goal" type="gotogoal" />
          <instruction id="3" name="Finepositioning" type="finepos" distance="0,30">
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
              <instructions>
                <instruction id="" type="dash" distance="-0,4" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />                
              </instructions>
            </errorhandling>  
          </instruction>
          
          <!-- check if the transport already exists 
            if not -> scan barcode
            if yes -> load the box
          -->
          <!--
          <instruction id="4" name="Check transport exists" type="runio" ondone="GotoInstruction" gotoid="6" onfailed="NextInstruction" timeout="1">
            <iofunctions>
              <iofunction type="TransportStateTrigger" sourceFromLocation="true" min="queued" max="loading" />
            </iofunctions>
          </instruction>
          -->

          <!-- scan barcode and create transport with current source and barcode target -->
          <instruction id="5" name="Scan target" type="plccommandsequence" 
                       checkstart="readytoload" start="scanbarcode" done="scanbarcodefinish" checkdone="waitload" DoneTimeout="5" failed="scanbarcodefail" timeout="20">
            <donefunctions>
              <!--<iofunction type="createtransport" source="" target="@Barcode" transportstate="Loading" schedulerobot="true" />-->

              <iofunction type="RequestMesTransportTarget" transportid="" barcode="@Barcode" />

            </donefunctions>
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="10" />
              <iofunction type="setvariable" name="hubhoehe_transfer" value="755" />
            </iofunctions>
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
              <instructions>
                <instruction type="plccommand" output="conveyorcommand" outputvalue="ResetConveyor" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20" onfailed="StopAndSetError" errorcode="11"/>
                <instruction id="" type="dash" distance="-0,4" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />                
              </instructions>
            </errorhandling>  
          </instruction>

          <!-- check transport target is ready to load 
              if not -> reset conveyor and release transport
              if yes -> load the box
          -->
          <instruction id="6" name="Check transport target" type="runio" onfailed="Stop" TransportAction="ReleaseAgv" timeout="30">
            <iofunctions>
              <iofunction type="Trigger" name="$targetloadport$.Allg.SenkeAufnahmebereit" value="true" />
            </iofunctions>           

            <errorhandling ondone="Stop" resetagverror="true" maxruns="1" onfailed="StopAndSetError" errorcode="1063">
              <instructions>
                <instruction id="1" type="plccommand" output="conveyorcommand" outputvalue="ResetConveyor" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20" onfailed="StopAndSetError" errorcode="21" />
                <instruction id="2" type="dash" distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />
              </instructions>
            </errorhandling>
          </instruction>

          <instruction id="7" name="Load box" type="load" checkstart="waitload;readytoload" start="loadprehub" done="loadingfinished" checkdone="readytounload" failed="handshakefailed" timeout="600">
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="190" />
              <iofunction type="setvariable" name="hubhoehe_transfer" value="733" />
              <iofunction type="setvariable" name="hubdelta" value="0" />         
            </iofunctions>
            <resetfunctions>
            </resetfunctions>
            <errorhandling  ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
              <instructions>
                <instruction type="dash" distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5"/>
                <instruction type="plccommand" output="conveyorcommand" outputvalue="ConveyorAckFinished" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20"/>
              </instructions>
            </errorhandling>
          </instruction>
          <instruction id="8" type="dash"  distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5"/>

        </instructions>

        <associatedgoals>
          <goal name="Quelle_UG" />
        </associatedgoals>
      
     </instructionset>

      <instructionset name="Loading">
        <instructions>
          <instruction id="1" name="Check unloaded status" type="plccommand" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20">
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="0" />
            </iofunctions>
            <!-- if not: reset conveyor and check status again -->
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="1">
              <instructions>
                <instruction type="plccommand" output="conveyorcommand" outputvalue="ResetConveyor" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20" onfailed="StopAndSetError" errorcode="11"/>
              </instructions>
            </errorhandling>
          </instruction>
          <instruction id="2" name="Goto goal" type="gotogoal" />
          <instruction id="4" name="Finepositioning" type="finepos" distance="0,30">
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
              <instructions>
                <instruction id="" type="dash" distance="-0,4" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />
                <instruction id="" name="Goto goal" type="gotogoal" goal="PARK_1"/>
              </instructions>
            </errorhandling>  
          </instruction>
          <instruction id="5" name="Load box" type="load" checkstart="readytoload" start="loadprehub" done="loadingfinished" checkdone="readytounload" failed="handshakefailed" timeout="600">
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="190" />
              <iofunction type="setvariable" name="hubhoehe_transfer" value="733" />
              <iofunction type="setvariable" name="hubdelta" value="0" />                       
            </iofunctions>
            <resetfunctions />
            <errorhandlings>
              <errorhandling instructionresult="loadingfailed" ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
                <instructions>
                  <instruction type="dash" distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5"/>
                  <instruction type="plccommand" output="conveyorcommand" outputvalue="ConveyorAckFinished" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20"/>
                </instructions>
              </errorhandling>
              <errorhandling instructionresult="handshakefailed" ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
                <instructions>
                  <instruction type="dash" distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5"/>
                  <instruction type="plccommand" output="conveyorcommand" outputvalue="ConveyorAckFinished" waitinput="conveyorstatus" inputvalue="readytoload" timeout="20"/>
                </instructions>
              </errorhandling>
            </errorhandlings>
          </instruction>
          <instruction id="6" type="dash"  distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5"/>
        </instructions>
        <associatedgoals goaltype="get">
        </associatedgoals>
      </instructionset>

      <instructionset name="Unloading">
        <instructions>
          <!-- check Agv is ready to unload -->
          <instruction id="1" name="Check loaded status" type="plccommand" waitinput="conveyorstatus" inputvalue="readytounload" timeout="20">
            <!-- if not: reset conveyor and check status again -->
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="1">
              <instruction type="plccommand" output="conveyorcommand" outputvalue="ResetConveyor" waitinput="conveyorstatus" inputvalue="readytounload" timeout="20"
                           onfailed="StopAndSetError" errorcode="21"/>
            </errorhandling>
          </instruction>
          <instruction id="2" name="Goto goal" type="gotogoal" />
          <instruction id="3" name="Finepositioning" type="finepos" distance="0,18">
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
              <instructions>
                <instruction id="" type="dash" distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />
                <instruction id="" name="Goto goal" type="gotogoal" goal="PARK_1"/>
              </instructions>
            </errorhandling> 
          </instruction>
          <instruction id="4" name="Unload box" type="unload" checkstart="readytounload" start="startunloading" done="unloadingfinished" checkdone="readytoload" failed="handshakefailed" timeout="600">
            <iofunctions>
              <iofunction type="setvariable" name="goalmove" value="90" />
              <iofunction type="setvariable" name="hubhoehe_transfer" value="695" />
              <iofunction type="setvariable" name="teleskopausfahrlaenge" value="0" />
              <iofunction type="setvariable" name="hubdelta" value="0" />
            </iofunctions>
            <resetfunctions>
              <iofunction type="setvariable" name="FTDirektschnittstelle" value="0" />
            </resetfunctions>
            <errorhandling ondone="GotoInstruction" gotoid="1" resetagverror="true" maxruns="3">
              <instructions>
                <instruction distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />
                <instruction type="plccommand" output="conveyorcommand" outputvalue="ConveyorAckFinished" waitinput="conveyorstatus" inputvalue="readytounload" timeout="20"/>
              </instructions>
            </errorhandling>
          </instruction>
          <instruction id="6" type="dash" distance="-0,3" speed="0,15" dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5" />
        </instructions>
        <associatedgoals goaltype="put">
        </associatedgoals>
      </instructionset>
	  
      <instructionset name="Charging">
        <instructions>
          <instruction id="1" name="Goto goal" type="gotogoal" />
          <instruction id="2" name="Finepositioning" type="finepos" distance="0,41">
            <errorhandling ondone="GotoInstruction" gotoid="1">
              <instructions>
                <instruction id="" type="dash" distance="-0,4" speed="0,15" checkdistance="true" dashtogoal="true" distancetolerance="0.10" checkdistancedelay="0.5" />
                <instruction id="" name="Goto goal" type="gotogoal" goal="PARK_1"/>
              </instructions>
            </errorhandling>
          </instruction>
          <!--
          <instruction id="3" name="Dash to charger" type="plccommand" output="conveyorcommand" outputvalue="startdash" finishvalue="conveyorackfinished" waitinput="conveyorstatus" inputvalue="dashfinish;dashfail" timeout="20">
            <iofunctions>
              <iofunction type="setvariable" name="controlbits.chargerequest" value="true" />
              <iofunction type="setvariable" name="goalmove" value="350" />
            </iofunctions>
            <errorhandling ondone="GotoInstruction" gotoid="1">
              <instructions>
                <instruction id="" type="dash" distance="-0,4" speed="0,15">
                  <iofunctions>
                    <iofunction type="setvariable" name="controlbits.chargerequest" value="false" />
                  </iofunctions>
                </instruction>
              </instructions>
            </errorhandling>
          </instruction>
          -->
          <instruction id="4" name="Start charging" type="startcharge" />
          <instruction id="5" name="Wait charged" type="stopcharge" 
                       bmsstage="5" 
                       maxsoc="100" 
                       mintime="10" 
                       maxtime="7200" 
                       maxcellvoltage="3,6" 
                       minsoc="60" 
                       queuedtransports="1"
                       HandleAgvErrors="true" 
                       AgvErrorCodes="80">
            <errorhandling instructionresult="80" ondone="Stop">
              <instructions>
                <instruction id="" type="stopcharge" />
                <instruction id="" type="dash"  distance="-0,3" speed="0,15"  dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5"/>
                <instruction id="" type="plccommand" output="conveyorcommand" outputvalue="ResetConveyor" timeout="10" />
              </instructions>
            </errorhandling>
          </instruction>
          <instruction id="6" name="Dash back from charger" type="dash"  distance="-0,4" speed="0,15"  dashtogoal="true" checkdistance="true" distancetolerance="0.10" checkdistancedelay="0.5">
            <iofunctions>
              <iofunction type="setvariable" name="controlbits.chargerequest" value="false" />
            </iofunctions>
          </instruction>
        </instructions>
        <associatedgoals goaltype="charge" />
      </instructionset>
    </instructionsets>

    <localizationgoals goaltype="charge">      
    </localizationgoals>

    <maintenancegoals>
      <goal name="PARK1"/>
    </maintenancegoals>


    <virtualgoals>
      <virtualgoal name="Station_UG" type="loadportselection" goal="Port_UG" EnablePrio="true">
        <loadports>
          <loadport name="Station_UG_Get" />
          <loadport name="Station_UG_Get2" />
        </loadports>
      </virtualgoal>
    </virtualgoals>

  </goalinstructions>

  <iomemories>
    <memory name="agvplc">
      <readarea address=".AIC_OUT_DATA">
        <variables>
          <variable name="FTDirektschnittstelle" type="word" address="44">
            <enum name="Übergabebereit" bit="0" />
            <enum name="Aufnahmebereit" bit="1" />
            <enum name="Aufnahme Aktiv" bit="2" />
            <enum name="ÜbergabeAktiv" bit="3" />
            <enum name="ÜbergabeEnde" bit="4" />
          </variable>
          <variable name="conveyorstatus" type="word" address="2" displayname="Conveyor status">
            <enum name="handshakefailed" value="6" />
            <enum name="waitload" value="9" />
            <enum name="dashbusy" value="31" />
            <enum name="dashfinish" value="32" />
            <enum name="dashfail" value="33" />
            <enum name="scanbarcodebusy" value="41" />   
            <enum name="scanbarcodefinish" value="42" />   
            <enum name="scanbarcodefail" value="43" />   
            <enum name="targetoccupied" value="60" />   
          </variable>
          <variable name="Barcode" type="string" size="10" address="60" />
        </variables>
      </readarea>
      <writearea address=".AIC_IN_DATA">
        <variables>
          <variable name="FTDirektschnittstelle" type="word" address="42">
            <enum name="Übergabebereit" bit="0" />
            <enum name="Aufnahmebereit" bit="1" />
            <enum name="Aufnahme Aktiv" bit="2" />
            <enum name="ÜbergabeAktiv" bit="3" />
            <enum name="ÜbergabeEnde" bit="4" />
          </variable>
          <variable name="hubhoehe_transfer" type="word" address="26" displayname="Transfer height"/>
          <variable name="goalmove" type="word" address="30" displayname="Plc goal move"/>
          <variable name="teleskopausfahrlaenge" type="word" address="32"  displayname="Telescope extension length" />
          <variable name="hubdelta" type="word" address="36" displayname="Transfer height delta" />
          <variable name="conveyorcommand" type="word" address="28" displayname="Conveyor command">
            <enum name="startdash" value="30" />
            <enum name="loadprehub" value="12" />
            <enum name="unloadprehub" value="22" />
            <enum name="scanbarcode" value="40" />            
          </variable>
          <variable name="Barcode" type="string" size="10" address="60" />
        </variables>
      </writearea>
    </memory>
  
    <memory name="agvplcwago">
      <readarea address="1000">
        <variables>
          <variable name="conveyorstatus" type="word" address="2" displayname="Conveyor status">
            <enum name="handshakefailed" value="6" />
            <enum name="waitload" value="9" />
            <enum name="dashbusy" value="31" />
            <enum name="dashfinish" value="32" />
            <enum name="dashfail" value="33" />
            <enum name="scanbarcodebusy" value="41" />   
            <enum name="scanbarcodefinish" value="42" />   
            <enum name="scanbarcodefail" value="43" />   
            <enum name="targetoccupied" value="60" />   
          </variable>
        </variables>
      </readarea>
      <writearea address="0">
        <variables />
      </writearea>
    </memory>

    <memory name="Lift">
      <readarea address="300"> 
        <variables>
          <variable name="SPS_Aufzug" type="word" address="10">
            <enum name="CALL_ST1" bit="0" />
            <enum name="CALL_ST2" bit="1" />
            <enum name="GOTO_ST1" bit="2" />
            <enum name="GOTO_ST2" bit="3" />
            <enum name="DOOR_HOLD_OPEN" bit="4" />
          </variable>
          <variable name="Aufzug_SPS" type="word" address="12">
            <enum name="LIFT_BUSY" bit="0" />
            <enum name="LIFT_IS_ST1" bit="1" />
            <enum name="LIFT_IS_ST2" bit="2" />
            <enum name="DOOR_IS_OPEN" bit="3" />
            <enum name="DOOR_IS_CLOSED" bit="4" />
          </variable>
          <variable name="SPS_Aufzug_Call_Step" type="word" address="14" />
          <variable name="SPS_Aufzug_Move_Step" type="word" address="16" />
        </variables>
      </readarea>
      <writearea address="400">
        <variables>
          <!--
          <variable name="Call_Stockwerk" type="short" address="0" />
          <variable name="Ziel_Stockwerk" type="short" address="2" />
          <variable name="Steuerbits" type="word" address="4">
            <enum name="Fahrstuhl_rufen" bit="0" />
            <enum name="FTF_faehrt_rein" bit="1" />
            <enum name="FTF_im_Aufzug" bit="2" />
            <enum name="Ziel_anfahren" bit="3" />
            <enum name="FTF_faehrt_raus" bit="4" />
            <enum name="SK_zurueck_setzen" bit="5" />
            <enum name="Block_HMI" bit="6" />
          </variable>
          <variable name="Time_AuftragImAblauf" type="word" address="6" />
          <variable name="Time_RufAufzug" type="word" address="8" />
          <variable name="Time_TuerAufMachen" type="word" address="10" />
          <variable name="Time_FTFImAufzug" type="word" address="12" />
          <variable name="Time_ZielStockwerk" type="word" address="14" />
          <variable name="Time_FTFAusAufzug" type="word" address="16" />
          <variable name="Time_TuerZuMachen" type="word" address="18" />
          -->
        </variables>
      </writearea>      
    </memory>
      
    <memory name="Door">
      <readarea address="300"> 
        <variables>
          <variable name="Status" type="word" address="0">
            <enum name="DoorIsOpen" bit="0" />
          </variable>
        </variables>
      </readarea>
      <writearea address="400">
        <variables>
          <variable name="Control" type="word" address="0">
            <enum name="OpenDoor" bit="0" />
          </variable>
        </variables>
      </writearea>      
    </memory>

    <memory name="Machine">
      <readarea address="SIM"> 
        <variables>
          <variable name="Allg" type="word" address="0">
            <enum name="Lebensbit" bit="0" />
            <enum name="SenkeAufnahmebereit" bit="1" />
            <enum name="QuelleAbgabebereit" bit="2" />
            <enum name="QuelleAbgabebereit2" bit="3" />
            <enum name="ResetAlarm" bit="7" />
          </variable>
          <variable name="Teilenummer" type="Word" address="2" />
        </variables>
      </readarea>      
      <writearea address="AIC"> 
        <variables>
          <variable name="Allg" type="word" address="0">
            <enum name="Lebensbit" bit="0" />
            <enum name="Reset" bit="1" />
          </variable>
          <variable name="Teilenummer" type="Word" address="2" />
        </variables>
      </writearea>      
    </memory>
  </iomemories>

  <errors>
    <error id="10" text="LHD Timeout loading / unloading" />
    <error id="11" text="LHD Job invalid" />
    <error id="12" text="LHD clearance control" />
    <error id="13" text="LHD TripleEye timeout" />
    <error id="15" text="LHD Last verloren" />
    <error id="16" text="LHD Misc" />
    <error id="17" text="location unexpected occupied" />
    <error id="18" text="location unexpected empty" />
    <error id="19" text="LHD not referenced" />
    <error id="20" text="Stepper motor load safety - end position error" />
    <error id="21" text="Stepper motor load safety - timeout positioning" />
    <error id="22" text="Stepper motor load safety - error stepper motor controller" />
    <error id="30" text="BMS communication timeout" />
    <error id="31" text="BMS alarm battery low (system will shutdown)" />
    <error id="32" text="BMS error active (see error code of  BMS)" />
    <error id="40" text="CORE Watchdog error heartbeat" />
    <error id="41" text="CORE Error bit is active" />
    <error id="50" text="PLC not in operation mode" />
    <error id="51" text="PLC ethercat error" />
    <error id="60" text="SICK Scanner error active (see error code of SICK)" />
    <error id="61" text="SICK communication timeout" />
    <error id="62" text="emergency stop" />
    <error id="63" text="Safty field is active" />
    <error id="64" text="No release of operating mode" />
    <error id="65" text="Track loss" />
    <error id="66" text="RFID error" />
    <error id="67" text="Motor on the left collective fault" />
    <error id="68" text="Motor on the right collective fault" />
    <error id="69" text="Maximum speed exceeded" />
    <error id="70" text="Servo error on the left is active (see error code of servo)" />
    <error id="71" text="Servo error on the right is active (see error code of servo)" />
    <error id="72" text="EEProm error camera module" />
    <error id="73" text="Clearance control on the left" />
    <error id="74" text="Clearance control on the rigth" />
    <error id="75" text="No release for sequence" />
    <error id="80" text="Charge timeout" />
    <error id="81" text="Check floor sensor" />
    <error id="82" text="Charging cradle not detected" />
    <error id="90" text="Front laser scanner is dirty" />
    <error id="91" text="Rear laser scanner is dirty" />
    <error id="100" text="CAM 3D timeout" />
    <error id="101" text="CAM 3D stop active" />
    <error id="102" text="No release of scanner on the left" />
    <error id="103" text="No release of scanner on the right" />
    <error id="104" text="No release of scanner rear" />
    <error id="110" text="LHD Lift not in sync" />
    <error id="111" text="LHD Lift not in position" />
    <error id="112" text="LHD Lift servomotor error (on the left)" />
    <error id="113" text="LHD Lift servomotor error (on the right)" />
    <error id="114" text="LHD Lift coupling error" />
    <error id="115" text="LHD Sequence is busy" />
    <error id="116" text="LHD Lift position invalid" />
    <error id="117" text="LHD telescope collision" />
    <error id="118" text="LHD telescope not in position" />
    <error id="130" text="LHD Controller error" />
    <error id="131" text="LHD Place status error" />
    <error id="140" text="AIC error is active" />
    <error id="237" text="Initializing system" />
    <error id="254" text="System off" />
    <error id="255" text="System not ready" />
  </errors>
  
  <aicerrors>
    <error id="1000" text="agv general error" />
    <error id="1001" text="agv unknown error" />
    <error id="1002" text="agv instructionset error" />
    
    <error id="1010" text="loading failed" />
    <error id="1011" text="loading timeout" />
    <error id="1020" text="unloading failed" />
    <error id="1021" text="unloading timeout" />
    
    <error id="1050" text="acknowledge failed" />
    
    <error id="1060" text="plc command timeout" />
    <error id="1061" text="dash calculation failed" />
    <error id="1062" text="dash timeout wait input" />
    <error id="1063" text="dash failed" />

    <error id="1101" text="unexpected loaded" />
    <error id="1102" text="unexpected unloaded" />
    <error id="1111" text="not ready to load" />
    <error id="1121" text="not ready to unload" />

  </aicerrors>
  
  <usermanagement>
    <featureactivations>
      <role name="maintenance">
        <feature name="LocalizeAgv" enabled="true" />
        <feature name="AicSchedulingMode" enabled="true" />
        <feature name="RobotSchedulingMode" enabled="true" />
        <feature name="LockLoadport" enabled="true" />
        <feature name="DeleteTransport" enabled="true" />
        <feature name="SetAlarm" enabled="true" />
        <feature name="ManualCharge" enabled="true" />
      </role>
    </featureactivations>
  </usermanagement>
  
</config>